<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glimpse" version="1.8.4" targetFramework="net40" />
  <package id="Glimpse.Ado" version="1.7.0" targetFramework="net40" />
  <package id="Glimpse.AspNet" version="1.8.1" targetFramework="net40" />
  <package id="Glimpse.Log4Net" version="1.0.0" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.92.0" targetFramework="net40" />
</packages>