<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly" />
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
  </system.web>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
   <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" />
      </ignoredTypes>
    </runtimePolicies>
  </glimpse>
  <appSettings>
    <add key="ConnectionString" value="SQLite" />
    <add key="CommandTimeout" value="10" />
    <add key="Log4Net.ConfigFilePath" value="~/log4net.config.xml" />
  </appSettings>
  <connectionStrings>
    <add name="SQLite" 
         providerName="System.Data.SQLite"
         connectionString="Data Source=:memory:; Version=3; BinaryGUID=False" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" 
           invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
    <handlers>
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet"
           preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>