<?xml version="1.0"
      encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="glimpse"
             type="Glimpse.Core.Configuration.Section, Glimpse.Core"/>
  </configSections>
  <appSettings>
    <add key="ConnectionString"
         value="SQLite"/>
    <add key="CommandTimeout"
         value="10"/>
    <add key="Log4Net.ConfigFilePath"
         value="~/log4net.config.xml"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="SQLite"
         connectionString="Data Source=:memory:; Version=3; BinaryGUID=False"
         providerName="System.Data.SQLite"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"
                 targetFramework="4.0"/>
    <customErrors mode="RemoteOnly"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="Glimpse"
           type="Glimpse.AspNet.HttpModule, Glimpse.AspNet"
           preCondition="integratedMode"/>
    </modules>
    <handlers>
      <add name="Glimpse"
           path="glimpse.axd"
           verb="GET"
           type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet"
           preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net"
                          publicKeyToken="669e0ddf0bb1aa2a"
                          culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0"
                         newVersion="1.2.13.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <glimpse defaultRuntimePolicy="On"
           endpointBaseUri="~/Glimpse.axd">
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet"/>
      </ignoredTypes>
    </runtimePolicies>
  </glimpse>
</configuration>